{% for erro in form.non_field_errors %}
  <p class="erro-geral">{{ erro }}</p>
{% endfor %}

{% for field in form %}
  <div class="campo {% if field.field.widget.input_type == 'checkbox' %}campo-check{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' %}
      {{ field }}{{ field.label_tag }}
    {% else %}
      {{ field.label_tag }}{{ field }}
    {% endif %}
    {% if field.help_text %}<div class="ajuda">{{ field.help_text|safe }}</div>{% endif %}
    {% for erro in field.errors %}<p class="erro">{{ erro }}</p>{% endfor %}
  </div>
{% endfor %}
