{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="topo"><h1>{{ titulo }}</h1></div>

<div class="form">
  <p>Tem certeza que quer excluir <strong>{{ object }}</strong>? Essa ação não pode ser desfeita.</p>
  <form method="post">
    {% csrf_token %}
    <div class="acoes-form">
      <button type="submit" class="btn btn-perigo">Sim, excluir</button>
      <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
